option_settings:
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: true
    RetentionInDays: 7
  aws:elasticbeanstalk:cloudwatch:logs:health:
    HealthStreamingEnabled: true
    DeleteOnTerminate: true
    RetentionInDays: 7

files:
  "/opt/elasticbeanstalk/tasks/taillogs.d/01-app-logs.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/log/web.stdout.log
      /var/log/nodejs/nodejs.log

  "/opt/elasticbeanstalk/tasks/taillogs.d/02-nginx-logs.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/log/nginx/access.log
      /var/log/nginx/error.log

  "/opt/elasticbeanstalk/tasks/bundlelogs.d/01-app-logs.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/log/web.stdout.log
      /var/log/nodejs/nodejs.log

  "/opt/elasticbeanstalk/tasks/bundlelogs.d/02-nginx-logs.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/log/nginx/access.log
      /var/log/nginx/error.log

  "/opt/elasticbeanstalk/tasks/publishlogs.d/01-app-logs.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/log/web.stdout.log
      /var/log/nodejs/nodejs.log

  "/opt/elasticbeanstalk/tasks/publishlogs.d/02-nginx-logs.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/log/nginx/access.log
      /var/log/nginx/error.log
