.page-layout {
	display: flex;
	min-height: 100vh;
	background-color: var(--color-bg-secondary);
}

.page-main-content {
	flex: 1;
	padding: var(--spacing-3xl);
	max-width: 700px;
	margin-left: var(--sidebar-width);
	margin-right: 320px;
}
